export NIXPKGS_ALLOW_UNFREE=1

use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

use flake

PATH_add $PWD/bin
export SBCLRC=$PWD/sbclrc
export ACL2_SYSTEM_BOOKS=$PWD/acl2/books
export ACL2S_SCRIPTS=$PWD/scripts
export ACL2_LISP=sbcl
export ACL2S_NUM_JOBS=8
