export NIXPKGS_ALLOW_UNFREE=1

# uses nix-direnv, https://github.com/nix-community/nix-direnv
use flake

PATH_add $PWD/bin
export SBCLRC=$PWD/sbclrc
export ACL2_SYSTEM_BOOKS=$PWD/acl2/books
export ACL2S_SCRIPTS=$PWD/scripts
export ACL2_LISP=sbcl
export ACL2S_NUM_JOBS=8
